.brand {
    color: white;
    margin: 60px auto;
    font-size: 5rem;
    font-family: 'Reenie Beanie', cursive;
    display: inline-block;
}

.navbar-toggler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-lines {
    width: 2rem;
    height: 2px;
    background-color: white;
    list-style: none;
}

.navbar {
    width: 15vw;
    height: 100vh;
    background-color: #0B0808;

}

.navbar .nav-link {
    display: inline-block;
}

.navbar .container-fluid {
    height: 50vh;
    width: 100vw;

}

.container-fluid .navbar-nav {
    margin-bottom: 49rem;
}


.navbar-nav .nav-items {
    position: relative;
}
.navbar-nav .nav-items .nav-item {
    padding-right: 90px;
    border-radius: 0;
    position: relative;
    color: white;
    font-size: 1.7rem;
    margin-left: 2px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    width: 90%;
}

.navbar-nav .nav-items .nav-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: 0.2s ease-in;

}

.navbar-nav .nav-items .nav-item:hover::before {
    width: 100%;
}

.navbar-nav .nav-items .nav-item:hover {
    color: black;
}

.navbar-nav .nav-items .nav-item::before:focus{
    width: 100%;
}


.icons {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 25px;
    opacity: 0.7;
}

.icons:hover {
    color: white;
    opacity: 1;
}

.social {
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .navbar {
        width: 100vw;
        height: 10vh;
        padding-top: 0;
        z-index: 4;

    }

    .navbar .container-fluid {
        height: 0;
        margin: 0;
        padding: 0;
    }

    .navbar .brand {
        margin: 0 auto;
        padding-top: 8px;
        font-size: 1.7em;
    }

    .container-fluid .navbar-toggler {
       position:relative;
        position: absolute;
        top: 36px;
        right: 6px;
    }

    .navbar-collapse {
        background-color: #0B0808;
    }

    .nav-items {
        width: 100vw;


    }

    .navbar-collapse .navbar-nav .nav-items .btn {
        margin: 20px auto;
        width: 100vw;
        padding: 10px 0 10px 0;

    }
    .navbar-collapse .navbar-nav .nav-items .btn:hover {
        background-color: white;
    }

    .container-fluid .navbar-nav {
        margin: 0;
    }

    .menu {
        padding: 0px;
    }

    .container-fluid .navbar-nav .nav-items .nav-item {
        padding-left: 20px;
    }
    
}
@media screen and (min-width: 1200px) {
    .navbar .brand {
        margin: 0 auto;
       
    }
   .navbar {
       height: 100vh;
   }

   .navbar .container-fluid {
    height: 30vh;
    width: 100vw;

}

.social {
    margin: 0 auto;
    
}

}