.App {
  text-align: center;
  background-color: #B61919;
}
.contact-content {
  display: flex;
  position: absolute;
  top:0px;
  right: 24vw;
  flex-direction: column;
}
.social-contact{
  margin: 0 auto;
  margin-top:250px
}

.home {
  display: flex;
}
.home .navbar{
  padding : 0;
}
.nav-btns {
  text-decoration: none;
}
.gallery {
  display: flex
}

/* .cards {
  width: 87vw;
} */

i{
  color: white;
  margin: 10px;
  font-size:25px;
  opacity: 0.7;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media screen and (max-width: 1200px) {
  .contact-content {
   right: 20vw;
    margin: 100px auto;
  }
  .home {
    display: block;
  }
  .App .home .nav .container-fluid {
    padding: 0;
  }
  .gallery {
    display: block;
  }
  .contact {
    display: block;
    height: 100vh;
  }
}
